// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{padding: 18px 0 0 0;}
#show_info{width: 70%;}
.nombre_producto{padding: 37px 0 0 0;font-size: 20px;color: #22ae7f;}
.botones{padding: 34px 0 0 0;}
.products_padding{padding:80px 0 0 0;}
